html {
  background: black;
}

#group-titles {
  @extend .xl;
  left: 350px;
  position: absolute;
  right: $margin;
  text-align: right;
  top: $margin - 6px;
  white-space: nowrap;
  z-index: 1001;
  @include ellipsis;
  a {
    border: $small-margin black solid;
    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 16px + 8px;
    margin-left: $small-margin;
    padding: $small-margin - 1px 8px $small-margin - 3px;
    @include opacity(.75);
    @include transition(background-color, .5s);
    &.selected,
    &:hover {
      text-decoration: none;
      @include opacity(1);
    }
    &.selected {
      border: 0;
      padding: 2 * $small-margin - 1px 8px + $small-margin 2 * $small-margin - 3px;
    }
  }
}