!!! 5

p Welcome to your dashboard
ul#groups
  - each stati, group_name in statusData
    li
      h2 #{group_name}
      ul
        - each data, status_name in stati
          li(id: data.slug, class: data.status, data-updated-at: data.updatedAt)
            h3
              span
              #{status_name}
            p #{data.message}
      