!!! 5

h1= title
p Welcome to #{title}
ul#groups
  - each stati, group_name in statusData
    li
      h2 #{group_name}
      ul
        - each data, status_name in stati
          li(id: status_name, class: data.status)
            h3 #{status_name}
      