!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/shoutbox.css')
    script(type='text/javascript', src='/bayeux.js')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/shoutbox.js')
    
  body!= body