@charset "UTF-8";
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% "helvetica neue", helvetica, arial, sans-serif;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a, a:active, a:visited {
  color: #3f7d99;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:hover {
  color: #003366;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 122, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 127, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 33, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 34, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../views/stylesheets/global/_typography.scss */
.base-font, .paragraph, p, time, article ol,
article ul {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 5, ../../views/stylesheets/global/_typography.scss */
.headline-font, .headline, h1, h2,
legend, h3,
h4 {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 9, ../../views/stylesheets/global/_typography.scss */
.bold, .headline, h1, h2,
legend, h3,
h4, strong,
em {
  font-weight: bold;
}

/* line 13, ../../views/stylesheets/global/_typography.scss */
.normal {
  font-weight: normal;
}

/* line 17, ../../views/stylesheets/global/_typography.scss */
.s {
  line-height: 20px;
  font-size: 100%;
}

/* line 22, ../../views/stylesheets/global/_typography.scss */
.m, .paragraph, p, time, article ol,
article ul, h3,
h4 {
  line-height: 20px;
  font-size: 100%;
}

/* line 27, ../../views/stylesheets/global/_typography.scss */
.l, h2,
legend {
  line-height: 30px;
  font-size: 154%;
}

/* line 32, ../../views/stylesheets/global/_typography.scss */
.xl, h1 {
  line-height: 40px;
  font-size: 231%;
}

/* line 37, ../../views/stylesheets/global/_typography.scss */
.paragraph, p, time, article ol,
article ul {
  margin: 1em 0;
}

/* line 43, ../../views/stylesheets/global/_typography.scss */
.headline, h1, h2,
legend, h3,
h4 {
  margin: 1em 0;
}

/* line 49, ../../views/stylesheets/global/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../views/stylesheets/global/_links.scss */
a {
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ../../views/stylesheets/layouts/_default.scss */
html {
  background: white;
}

/* line 1, ../../views/stylesheets/partials/_groups.scss */
#groups {
  margin: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
/* line 5, ../../views/stylesheets/partials/_groups.scss */
#groups > li {
  border: 1px #dadad9 solid;
  border-top-color: #cdcdcc;
  height: 30px;
  list-style: none;
  margin: -1px 0 0;
  overflow: hidden;
  padding: 5px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjNmM2YzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGZkZmRlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #dfdfde));
  background: -moz-linear-gradient(top, #f3f3f3, #dfdfde);
  background: linear-gradient(top, #f3f3f3, #dfdfde);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.04) 0 -1px 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.04) 0 -1px 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.04) 0 -1px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.04) 0 -1px 1px inset;
}
/* line 16, ../../views/stylesheets/partials/_groups.scss */
#groups > li h2 {
  background: url('../images/icons-a3db1c2190.png') 100% -225px no-repeat;
  font-size: inherit;
  margin: 0;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}
/* line 21, ../../views/stylesheets/partials/_groups.scss */
#groups > li h2:before {
  content: "►";
  display: block;
  float: left;
  font-size: 70%;
  padding: 1px 3px 0 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 30, ../../views/stylesheets/partials/_groups.scss */
#groups > li.red h2 {
  background: url('../images/icons-a3db1c2190.png') 100% 7px no-repeat;
}
/* line 34, ../../views/stylesheets/partials/_groups.scss */
#groups > li.opened h2:before {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 38, ../../views/stylesheets/partials/_groups.scss */
#groups > li:first-child {
  border-top-color: #dadad9;
  margin-top: 0;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 43, ../../views/stylesheets/partials/_groups.scss */
#groups > li:last-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 47, ../../views/stylesheets/partials/_groups.scss */
#groups ul {
  background: #5b5b59;
  margin: 5px;
  opacity: 0;
  padding: 0 10px 10px 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, rgba(255, 255, 255, 0.5) 0 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, rgba(255, 255, 255, 0.5) 0 1px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, rgba(255, 255, 255, 0.5) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, rgba(255, 255, 255, 0.5) 0 1px 1px;
  overflow: hidden;
  *zoom: 1;
}
/* line 55, ../../views/stylesheets/partials/_groups.scss */
#groups ul > li {
  list-style: none;
  float: left;
  height: 180px;
  margin: 10px 0 0 10px;
  padding: 10px;
  width: 128px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzFjMWJmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGZkZmRlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c1c1bf), color-stop(100%, #dfdfde));
  background: -moz-linear-gradient(top, #c1c1bf, #dfdfde);
  background: linear-gradient(top, #c1c1bf, #dfdfde);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.1) 0 -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.1) 0 -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.1) 0 -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px inset, rgba(0, 0, 0, 0.1) 0 -1px 1px inset, rgba(0, 0, 0, 0.3) 0 0 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 68, ../../views/stylesheets/partials/_groups.scss */
#groups ul p {
  margin: 0;
  text-align: center;
  text-shadow: white 0 1px 1px;
}
/* line 73, ../../views/stylesheets/partials/_groups.scss */
#groups ul h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-shadow: white 0 1px 1px;
}
/* line 79, ../../views/stylesheets/partials/_groups.scss */
#groups ul h3:before {
  background: url('../images/traffic-lights-b8f023a746.png') 50% -684px no-repeat;
  content: " ";
  display: block;
  height: 128px;
  margin-bottom: 10px;
  width: 128px;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5ms;
  -webkit-transition-duration: 0.5ms;
  -o-transition-duration: 0.5ms;
  transition-duration: 0.5ms;
}
/* line 89, ../../views/stylesheets/partials/_groups.scss */
#groups ul .offline h3 {
  background: url('../images/traffic-lights-b8f023a746.png') 50% -228px no-repeat;
}
/* line 91, ../../views/stylesheets/partials/_groups.scss */
#groups ul .offline h3:before {
  opacity: 0.3;
}
/* line 95, ../../views/stylesheets/partials/_groups.scss */
#groups ul .red > h3:before {
  background-position: 50% -456px;
}
/* line 98, ../../views/stylesheets/partials/_groups.scss */
#groups ul .green > h3:before {
  background-position: 50% 0;
}
/* line 102, ../../views/stylesheets/partials/_groups.scss */
#groups .opened ul {
  opacity: 1;
}
