@charset "UTF-8";
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a, a:active, a:visited {
  color: #3f7d99;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:hover {
  color: #003366;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 120, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 122, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 127, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 33, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 34, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../views/stylesheets/global/_typography.scss */
.base-font, .paragraph, p, time, article ol,
article ul {
  font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 5, ../../views/stylesheets/global/_typography.scss */
.headline-font, .headline, h1, h2,
legend, h3,
h4 {
  font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 9, ../../views/stylesheets/global/_typography.scss */
.bold, .headline, h1, h2,
legend, h3,
h4, strong,
em {
  font-weight: bold;
}

/* line 13, ../../views/stylesheets/global/_typography.scss */
.normal {
  font-weight: normal;
}

/* line 17, ../../views/stylesheets/global/_typography.scss */
.s {
  line-height: 20px;
  font-size: 100%;
}

/* line 22, ../../views/stylesheets/global/_typography.scss */
.m, .paragraph, p, time, article ol,
article ul, h3,
h4 {
  line-height: 20px;
  font-size: 100%;
}

/* line 27, ../../views/stylesheets/global/_typography.scss */
.l, h2,
legend {
  line-height: 30px;
  font-size: 154%;
}

/* line 32, ../../views/stylesheets/global/_typography.scss */
.xl, h1, #group-titles {
  line-height: 40px;
  font-size: 231%;
}

/* line 37, ../../views/stylesheets/global/_typography.scss */
.paragraph, p, time, article ol,
article ul {
  margin: 1em 0;
}

/* line 43, ../../views/stylesheets/global/_typography.scss */
.headline, h1, h2,
legend, h3,
h4 {
  margin: 1em 0;
}

/* line 49, ../../views/stylesheets/global/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 62, ../../views/stylesheets/global/_typography.scss */
h1 {
  color: #4c33a4;
  font-weight: 300;
  left: 0;
  margin: 0;
  padding: 20px 32px;
  position: absolute;
  right: 0;
  z-index: 1000;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9InJnYmEoMCwgMCwgMCwgMC44KSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(75%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -moz-linear-gradient(top, #000000, rgba(0, 0, 0, 0.8) 60px, rgba(0, 0, 0, 0) 80px);
  background: linear-gradient(top, #000000, rgba(0, 0, 0, 0.8) 60px, rgba(0, 0, 0, 0) 80px);
}
/* line 76, ../../views/stylesheets/global/_typography.scss */
h1 strong {
  font-weight: 800;
  margin: 0 2em 0 0;
}
/* line 80, ../../views/stylesheets/global/_typography.scss */
h1 span {
  color: white;
}
/* line 83, ../../views/stylesheets/global/_typography.scss */
h1 a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* line 1, ../../views/stylesheets/global/_links.scss */
a {
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ../../views/stylesheets/global/_buttons.scss */
.layout-button, [data-action="list"], [data-action="spaces"] {
  background: no-repeat 6px 6px;
  padding: 6px;
  display: inline-block;
  height: 16px;
  margin-bottom: -6px;
  width: 16px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 9, ../../views/stylesheets/global/_buttons.scss */
.layout-button.active, .active[data-action="list"], .active[data-action="spaces"] {
  background-color: rgba(76, 51, 164, 0.75);
}
/* line 12, ../../views/stylesheets/global/_buttons.scss */
.layout-button:hover, [data-action="list"]:hover, [data-action="spaces"]:hover {
  background-color: #4c33a4;
}

/* line 17, ../../views/stylesheets/global/_buttons.scss */
[data-action="list"] {
  background-image: url('../images/list.png?1299757385');
}

/* line 22, ../../views/stylesheets/global/_buttons.scss */
[data-action="spaces"] {
  background-image: url('../images/spaces.png?1299757319');
}

/* line 1, ../../views/stylesheets/layouts/_default.scss */
html {
  background: black;
}

/* line 5, ../../views/stylesheets/layouts/_default.scss */
#group-titles {
  left: 350px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 14px;
  white-space: nowrap;
  z-index: 1001;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 15, ../../views/stylesheets/layouts/_default.scss */
#group-titles a {
  border: 6px black solid;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 24px;
  margin-left: 6px;
  padding: 5px 8px 3px;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 26, ../../views/stylesheets/layouts/_default.scss */
#group-titles a.active, #group-titles a:hover {
  text-decoration: none;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 30, ../../views/stylesheets/layouts/_default.scss */
#group-titles a.selected {
  border: 0;
  padding: 11px 14px 9px;
}

/* line 1, ../../views/stylesheets/partials/_groups.scss */
#groups {
  list-style: 0;
  margin: 0;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 6, ../../views/stylesheets/partials/_groups.scss */
#groups h2 {
  color: white;
  color: #4c33a4;
  float: left;
  font-size: 100px;
  line-height: 100px;
  margin: 0 6px 6px 0;
  padding: 27px 15px 7px 15px;
  padding: 12px 15px 2px;
}
/* line 16, ../../views/stylesheets/partials/_groups.scss */
#groups h2:after {
  content: ":";
}
/* line 20, ../../views/stylesheets/partials/_groups.scss */
#groups li {
  list-style: none;
  margin: 0;
}
/* line 24, ../../views/stylesheets/partials/_groups.scss */
#groups > li {
  background: white;
  *zoom: 1;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#groups > li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 29, ../../views/stylesheets/partials/_groups.scss */
#groups .inner {
  margin: -20px -20px 0 0;
  max-height: 100%;
  padding: 20px 20px 0 0;
  overflow: hidden;
}
/* line 34, ../../views/stylesheets/partials/_groups.scss */
#groups .inner:after {
  bottom: 0;
  content: " ";
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
/* line 47, ../../views/stylesheets/partials/_groups.scss */
#groups ul {
  margin: 0;
}
/* line 49, ../../views/stylesheets/partials/_groups.scss */
#groups ul li {
  color: white;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  margin: 0 6px 6px 0;
  padding: 15px 25px 2px;
  position: relative;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  text-shadow: white 0 0 0;
}
/* line 60, ../../views/stylesheets/partials/_groups.scss */
#groups ul li.red:before {
  content: "☠ ";
  position: relative;
  top: 3px;
}
/* line 65, ../../views/stylesheets/partials/_groups.scss */
#groups ul li.offline {
  color: rgba(255, 255, 255, 0.1);
  text-shadow: white 0 0 25px, white 0 0 15px;
}
/* line 69, ../../views/stylesheets/partials/_groups.scss */
#groups ul li a {
  background: inherit;
  -webkit-background-clip: padding-box;
  border: 3px white solid;
  color: white;
  font-size: 25px;
  line-height: 26px;
  padding-top: 4px;
  position: absolute;
  right: -18px;
  text-align: center;
  text-decoration: none;
  top: -18px;
  width: 30px;
  z-index: 3;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -khtml-border-radius: 18px;
  border-radius: 18px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  text-shadow: white 0 0 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 90, ../../views/stylesheets/partials/_groups.scss */
#groups ul li:hover a {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 94, ../../views/stylesheets/partials/_groups.scss */
#groups ul li .info {
  background: inherit;
  bottom: 100%;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 6px;
  padding: 6px 15px;
  position: absolute;
  right: 0;
  z-index: -1;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  text-shadow: white 0 0 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 108, ../../views/stylesheets/partials/_groups.scss */
#groups ul li.info-activated .info {
  z-index: 2;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 1, ../../views/stylesheets/partials/_colors.scss */
.red {
  background: #db2400;
}

/* line 5, ../../views/stylesheets/partials/_colors.scss */
.yellow {
  background: #ecc91b;
}

/* line 9, ../../views/stylesheets/partials/_colors.scss */
.green {
  background: #8bc40d;
}

/* line 13, ../../views/stylesheets/partials/_colors.scss */
.red.offline {
  background: #a44937;
}

/* line 17, ../../views/stylesheets/partials/_colors.scss */
.yellow.offline {
  background: #aea059;
}

/* line 21, ../../views/stylesheets/partials/_colors.scss */
.green.offline {
  background: #779041;
}

/* line 24, ../../views/stylesheets/partials/_colors.scss */
.offline {
  background: #db2400 !important;
}

@-webkit-keyframes pulse {
  /* line 29, ../../views/stylesheets/partials/_colors.scss */
  0% {
    opacity: 1.0;
  }

  /* line 32, ../../views/stylesheets/partials/_colors.scss */
  33% {
    opacity: 0.8;
  }

  /* line 35, ../../views/stylesheets/partials/_colors.scss */
  67% {
    opacity: 0.65;
  }

  /* line 38, ../../views/stylesheets/partials/_colors.scss */
  100% {
    opacity: 1.0;
  }
}

/* line 43, ../../views/stylesheets/partials/_colors.scss */
.fresh {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

/* line 51, ../../views/stylesheets/partials/_colors.scss */
.green.fresh {
  -webkit-animation-duration: 3s;
}
