/*
Syntax error: File to import not found or unreadable: global/extendables.
              Load paths:
                /Users/nh/projects/shoutbox/views/stylesheets
                /Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/blueprint/stylesheets
                /Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets
                /Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/lib/../stylesheets
                
        on line 47 of /Users/nh/projects/shoutbox/views/stylesheets/shoutbox-website.scss

Backtrace:
/Users/nh/projects/shoutbox/views/stylesheets/shoutbox-website.scss:47
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/import_node.rb:42:in `import'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:141:in `rescue in visit_import'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/tree/root_node.rb:20:in `render'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/engine.rb:302:in `_render'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/engine.rb:250:in `block in render'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/sass-3.1.0.alpha.218/lib/sass/engine.rb:250:in `render'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:117:in `block (2 levels) in compile'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:103:in `timed'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:116:in `block in compile'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/logger.rb:45:in `red'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:115:in `compile'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:95:in `compile_if_required'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:82:in `block (2 levels) in run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:80:in `each'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:80:in `block in run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:103:in `timed'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/compiler.rb:79:in `run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/commands/watch_project.rb:93:in `recompile'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/commands/watch_project.rb:68:in `block (4 levels) in perform'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/path.rb:71:in `call'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/path.rb:71:in `run_callback'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/path.rb:54:in `callback_action'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/path.rb:38:in `delete'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/state/directory.rb:27:in `block in deleted'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/state/directory.rb:27:in `each'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/state/directory.rb:27:in `deleted'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/state/directory.rb:14:in `refresh'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/backends/polling.rb:17:in `each'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/backends/polling.rb:17:in `block in run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/backends/polling.rb:15:in `loop'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/backends/polling.rb:15:in `run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm/monitor.rb:24:in `run'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/vendor/fssm/fssm.rb:17:in `monitor'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/commands/watch_project.rb:61:in `perform'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/commands/base.rb:18:in `execute'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/commands/project_base.rb:19:in `execute'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/bin/compass:25:in `block in <top (required)>'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/bin/compass:39:in `call'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/bin/compass:39:in `<top (required)>'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/bin/compass:19:in `load'
/Users/nh/.rvm/gems/ruby-1.9.2-p0@node/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: global/extendables.\A               Load paths:\A                 /Users/nh/projects/shoutbox/views/stylesheets\A                 /Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/blueprint/stylesheets\A                 /Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets\A                 /Users/nh/.rvm/gems/ruby-1.9.2-p0@node/gems/html5-boilerplate-0.2.6/lib/../stylesheets\A                 \A         on line 47 of /Users/nh/projects/shoutbox/views/stylesheets/shoutbox-website.scss"; }
