/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 84, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 91, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 97, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 108, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 112, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 119, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 1, ../../views/stylesheets/global/_typography.scss */
.base-font, .paragraph, p, time, article ol,
article ul {
  font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 5, ../../views/stylesheets/global/_typography.scss */
.headline-font, .headline, h1, h2,
legend, h3,
h4 {
  font-family: "pill-gothic-300mg-1", "pill-gothic-300mg-2", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 9, ../../views/stylesheets/global/_typography.scss */
.bold, .headline, h1, h2,
legend, h3,
h4, strong,
em, #flash-notice, #flash-warning, #flash-error {
  font-weight: bold;
}

/* line 13, ../../views/stylesheets/global/_typography.scss */
.normal {
  font-weight: normal;
}

/* line 17, ../../views/stylesheets/global/_typography.scss */
.s {
  line-height: 20px;
  font-size: 100%;
}

/* line 22, ../../views/stylesheets/global/_typography.scss */
.m, .paragraph, p, time, article ol,
article ul, h3,
h4 {
  line-height: 20px;
  font-size: 100%;
}

/* line 27, ../../views/stylesheets/global/_typography.scss */
.l, h2,
legend {
  line-height: 30px;
  font-size: 154%;
}

/* line 32, ../../views/stylesheets/global/_typography.scss */
.xl, h1, #group-titles {
  line-height: 40px;
  font-size: 231%;
}

/* line 37, ../../views/stylesheets/global/_typography.scss */
.paragraph, p, time, article ol,
article ul {
  margin: 1em 0;
}

/* line 43, ../../views/stylesheets/global/_typography.scss */
.headline, h1, h2,
legend, h3,
h4 {
  margin: 1em 0;
}

/* line 49, ../../views/stylesheets/global/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 62, ../../views/stylesheets/global/_typography.scss */
h1 {
  color: #bfa477;
}
/* line 66, ../../views/stylesheets/global/_typography.scss */
.index h1 {
  font-size: 100px;
  margin-bottom: 0;
  text-align: center;
}

/* line 96, ../../views/stylesheets/global/_typography.scss */
pre {
  background: rgba(191, 164, 119, 0.5);
}

/* line 100, ../../views/stylesheets/global/_typography.scss */
code {
  font-family: "share-techmono-1", "share-techmono-2", monaco, "courier new", monospace;
}

/* line 1, ../../views/stylesheets/global/_links.scss */
a {
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ../../views/stylesheets/global/_buttons.scss */
.layout-button, [data-action="list"], [data-action="spaces"], [data-action="config"], [data-action="close-config"] {
  background: no-repeat 6px 6px;
  padding: 6px;
  display: inline-block;
  height: 16px;
  margin-bottom: -6px;
  width: 16px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 9, ../../views/stylesheets/global/_buttons.scss */
.layout-button.active, .active[data-action="list"], .active[data-action="spaces"], .active[data-action="config"], .active[data-action="close-config"] {
  background-color: rgba(191, 164, 119, 0.75);
}
/* line 12, ../../views/stylesheets/global/_buttons.scss */
.layout-button:hover, [data-action="list"]:hover, [data-action="spaces"]:hover, [data-action="config"]:hover, [data-action="close-config"]:hover {
  background-color: #bfa477;
}

/* line 17, ../../views/stylesheets/global/_buttons.scss */
[data-action="list"] {
  background-image: url('/images/list.png?1299757385');
}

/* line 22, ../../views/stylesheets/global/_buttons.scss */
[data-action="spaces"] {
  background-image: url('/images/spaces.png?1299757319');
}

/* line 27, ../../views/stylesheets/global/_buttons.scss */
[data-action="config"] {
  background-image: url('/images/config.png?1301567502');
}

/* line 32, ../../views/stylesheets/global/_buttons.scss */
[data-action="close-config"] {
  background-image: url('/images/close.png?1301567502');
}

/* line 37, ../../views/stylesheets/global/_buttons.scss */
button.twitter {
  border: 1px #7891b0 solid;
  color: #35455a;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 9px 3px;
  vertical-align: top;
  width: 300px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDllMGU4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOThhYmMzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9e0e8), color-stop(100%, #98abc3));
  background: -moz-linear-gradient(top, #d9e0e8, #98abc3);
  background: linear-gradient(top, #d9e0e8, #98abc3);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, rgba(152, 171, 195, 0.7) 0 0 5px;
  -webkit-box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, rgba(152, 171, 195, 0.7) 0 0 5px;
  -o-box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, rgba(152, 171, 195, 0.7) 0 0 5px;
  box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, rgba(152, 171, 195, 0.7) 0 0 5px;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
}
/* line 56, ../../views/stylesheets/global/_buttons.scss */
button.twitter:hover, button.twitter:focus {
  border: 1px #6f89aa solid;
  color: #2c394a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjY2ZkOGUzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOGZhM2JkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfd8e3), color-stop(100%, #8fa3bd));
  background: -moz-linear-gradient(top, #cfd8e3, #8fa3bd);
  background: linear-gradient(top, #cfd8e3, #8fa3bd);
}
/* line 63, ../../views/stylesheets/global/_buttons.scss */
button.twitter:focus {
  outline: 0;
  -moz-box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, #98abc3 0 0 5px;
  -webkit-box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, #98abc3 0 0 5px;
  -o-box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, #98abc3 0 0 5px;
  box-shadow: rgba(53, 69, 90, 0.3) 0 2px 5px inset, #98abc3 0 0 5px;
}
/* line 70, ../../views/stylesheets/global/_buttons.scss */
button.twitter:active {
  border: 1px #627ea2 solid;
  color: #19202a;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjVjM2Q0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzU4ZWFlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5c3d4), color-stop(100%, #758eae));
  background: -moz-linear-gradient(top, #b5c3d4, #758eae);
  background: linear-gradient(top, #b5c3d4, #758eae);
}

/* line 1, ../../views/stylesheets/layouts/_default.scss */
html {
  background: #9d7e4b url('/images/background.png?1302108461') repeat-x;
  min-height: 100%;
}

/* line 6, ../../views/stylesheets/layouts/_default.scss */
header {
  display: block;
  font-weight: 300;
  left: 0;
  margin: 0;
  padding: 20px 32px;
  position: absolute;
  right: 0;
  z-index: 1000;
}
/* line 15, ../../views/stylesheets/layouts/_default.scss */
header h1 {
  display: inline;
  margin-right: 20px;
}
/* line 19, ../../views/stylesheets/layouts/_default.scss */
header strong {
  font-weight: 800;
  margin: 0 2em 0 0;
}
/* line 23, ../../views/stylesheets/layouts/_default.scss */
header span {
  color: white;
}
/* line 26, ../../views/stylesheets/layouts/_default.scss */
header > a {
  color: white;
  font-weight: bold;
  margin-right: 6px;
  vertical-align: 5px;
}

/* line 34, ../../views/stylesheets/layouts/_default.scss */
#account {
  color: #bfa477;
  font-weight: bold;
  left: 33px;
  position: absolute;
  top: 5px;
}
/* line 41, ../../views/stylesheets/layouts/_default.scss */
#account a {
  color: #bfa477;
  text-decoration: underline;
}

/* line 47, ../../views/stylesheets/layouts/_default.scss */
#group-titles {
  left: 350px;
  position: absolute;
  right: 20px;
  text-align: right;
  top: 16px;
  white-space: nowrap;
  z-index: 1001;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 57, ../../views/stylesheets/layouts/_default.scss */
#group-titles a {
  margin: 6px;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 24px;
  margin-left: 6px;
  padding: 5px 8px 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 68, ../../views/stylesheets/layouts/_default.scss */
#group-titles a.selected, #group-titles a:hover {
  text-decoration: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 72, ../../views/stylesheets/layouts/_default.scss */
#group-titles a.selected {
  margin: 0;
  padding: 11px 14px 9px;
}

/* line 1, ../../views/stylesheets/partials/_groups.scss */
#groups {
  list-style: 0;
  margin: 0;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 6, ../../views/stylesheets/partials/_groups.scss */
#groups h2 {
  color: #bfa477;
  float: left;
  font-size: 70px;
  line-height: 70px;
  margin: 0 6px 6px 0;
  padding: 27px 15px 7px 15px;
  padding: 12px 15px 2px;
}
/* line 14, ../../views/stylesheets/partials/_groups.scss */
#groups h2:after {
  content: ":";
}
/* line 18, ../../views/stylesheets/partials/_groups.scss */
#groups li {
  list-style: none;
  margin: 0;
}
/* line 22, ../../views/stylesheets/partials/_groups.scss */
#groups > li {
  background: white;
  *zoom: 1;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@shoutbox/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#groups > li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 27, ../../views/stylesheets/partials/_groups.scss */
#groups .inner {
  margin: -40px -20px 0 0;
  max-height: 100%;
  padding: 40px 20px 0 0;
}
/* line 31, ../../views/stylesheets/partials/_groups.scss */
#groups .inner:after {
  bottom: 0;
  content: " ";
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiB4MT0iNTAlIiB5MT0iMCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDApIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
}
/* line 44, ../../views/stylesheets/partials/_groups.scss */
#groups ul {
  margin: 0;
}
/* line 46, ../../views/stylesheets/partials/_groups.scss */
#groups ul li {
  color: white;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  margin: 0 6px 6px 0;
  padding: 15px 25px 2px;
  position: relative;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  text-shadow: white 0 0 0;
}
/* line 57, ../../views/stylesheets/partials/_groups.scss */
#groups ul li.offline {
  color: rgba(255, 255, 255, 0.1);
  text-shadow: white 0 0 25px, white 0 0 15px;
}
/* line 61, ../../views/stylesheets/partials/_groups.scss */
#groups ul li.without-info > a {
  display: none;
}
/* line 64, ../../views/stylesheets/partials/_groups.scss */
#groups ul li > a {
  background: inherit;
  -webkit-background-clip: padding-box;
  border: 3px white solid;
  color: white;
  font-size: 25px;
  line-height: 26px;
  padding-top: 4px;
  position: absolute;
  right: -18px;
  text-align: center;
  text-decoration: none;
  top: -18px;
  width: 30px;
  z-index: 3;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -khtml-border-radius: 18px;
  border-radius: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  text-shadow: white 0 0 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 85, ../../views/stylesheets/partials/_groups.scss */
#groups ul li:hover > a {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 89, ../../views/stylesheets/partials/_groups.scss */
#groups ul li .info {
  background: inherit;
  bottom: 100%;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 6px;
  padding: 6px 15px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-shadow: white 0 0 0;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 104, ../../views/stylesheets/partials/_groups.scss */
#groups ul li .info:after {
  border: 5px solid;
  border-color: black transparent transparent;
  bottom: -10px;
  content: " ";
  display: block;
  height: 0;
  margin-left: -5px;
  overflow: hidden;
  position: absolute;
  right: 50%;
  width: 0;
  z-index: 111;
}
/* line 118, ../../views/stylesheets/partials/_groups.scss */
#groups ul li .info a {
  color: white;
  text-decoration: underline;
}
/* line 123, ../../views/stylesheets/partials/_groups.scss */
#groups ul li.info-activated .info {
  z-index: 2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 8, ../../views/stylesheets/partials/_colors.scss */
.red {
  background: #bf2805;
}
/* line 3, ../../views/stylesheets/partials/_colors.scss */
.red .info:after {
  border-top-color: #bf2805 !important;
}

/* line 12, ../../views/stylesheets/partials/_colors.scss */
.yellow {
  background: #bf9505;
}
/* line 3, ../../views/stylesheets/partials/_colors.scss */
.yellow .info:after {
  border-top-color: #bf9505 !important;
}

/* line 16, ../../views/stylesheets/partials/_colors.scss */
.green {
  background: #7bbf05;
}
/* line 3, ../../views/stylesheets/partials/_colors.scss */
.green .info:after {
  border-top-color: #7bbf05 !important;
}

/* line 28, ../../views/stylesheets/partials/_colors.scss */
.green.offline {
  background: #6e8e36;
}
/* line 3, ../../views/stylesheets/partials/_colors.scss */
.green.offline .info:after {
  border-top-color: #6e8e36 !important;
}

/* line 31, ../../views/stylesheets/partials/_colors.scss */
.offline {
  background: #bf2805 !important;
}
/* line 3, ../../views/stylesheets/partials/_colors.scss */
.offline .info:after {
  border-top-color: #bf2805 !important !important;
}

@-webkit-keyframes pulse {
  /* line 36, ../../views/stylesheets/partials/_colors.scss */
  0% {
    opacity: 1.0;
  }

  /* line 39, ../../views/stylesheets/partials/_colors.scss */
  33% {
    opacity: 0.8;
  }

  /* line 42, ../../views/stylesheets/partials/_colors.scss */
  67% {
    opacity: 0.65;
  }

  /* line 45, ../../views/stylesheets/partials/_colors.scss */
  100% {
    opacity: 1.0;
  }
}

/* line 50, ../../views/stylesheets/partials/_colors.scss */
.fresh {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 10s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

/* line 58, ../../views/stylesheets/partials/_colors.scss */
.green.fresh {
  -webkit-animation-duration: 20s;
}

/* line 1, ../../views/stylesheets/partials/_config.scss */
#config {
  background: rgba(0, 0, 0, 0.95);
  bottom: 0;
  color: white;
  display: none;
  left: 0;
  padding: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
/* line 12, ../../views/stylesheets/partials/_config.scss */
#config [data-action="close-config"] {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* line 1, ../../views/stylesheets/partials/_flash-messages.scss */
#flash-notice, #flash-warning, #flash-error {
  background: #7bbf05;
  display: none;
  font-size: 150%;
  padding: 5px 20px;
  position: absolute;
}

/* line 10, ../../views/stylesheets/partials/_flash-messages.scss */
#flash-warning {
  background: #bf9505;
}

/* line 15, ../../views/stylesheets/partials/_flash-messages.scss */
#flash-error {
  background: #bf2805;
  color: white;
}
