@mixin entry-color($color) {
  background: $color;
  .info:after {
    border-bottom-color: $color !important;
  }
}

.red {
  @include entry-color($alert-color);
}

.yellow {
  @include entry-color($warning-color);
}

.green {
  @include entry-color($ok-color);
}

//.red.offline {
//  @include entry-color(desaturate($alert-color, 50%));
//}
//
//.yellow.offline {
//  @include entry-color(desaturate($warning-color, 50%));
//}

.green.offline {
  @include entry-color(desaturate($ok-color, 50%));
}
.offline {
  @include entry-color($alert-color !important);
}

@-webkit-keyframes pulse {
 0% {
   opacity: 1.0;
 }
 33% {
   opacity: 0.8;
 }
 67% {
   opacity: 0.65;
 }
 100% {
   opacity: 1.0;
 }
}

.fresh {
 -webkit-animation-name: pulse;
 -webkit-animation-duration: 10s;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-in-out;
 -webkit-animation-iteration-count: infinite;
}

.green.fresh {
  -webkit-animation-duration: 20s;
}
