.red {
  background: $alert-color;
}

.yellow {
  background: $warning-color;
}

.green {
  background: $ok-color;
}

.red.offline {
  background: desaturate($alert-color, 50%);
}

.yellow.offline {
  background: desaturate($warning-color, 50%);
}

.green.offline {
  background: desaturate($ok-color, 50%);
}
.offline {
  background: $alert-color !important;
}

@-webkit-keyframes pulse {
 0% {
   opacity: 1.0;
 }
 33% {
   opacity: 0.8;
 }
 67% {
   opacity: 0.65;
 }
 100% {
   opacity: 1.0;
 }
}

.fresh {
 -webkit-animation-name: pulse;
 -webkit-animation-duration: 1s;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-in-out;
 -webkit-animation-iteration-count: infinite;
}

.green.fresh {
  -webkit-animation-duration: 3s;
}