.red {
  background: $alert-color;
}

.yellow {
  background: $warning-color;
}

.green {
  background: $ok-color;
}

@-webkit-keyframes pulse {
 0% {
   opacity: 1.0;
 }
 33% {
   opacity: 0.9;
 }
 67% {
   opacity: 0.75;
 }
 100% {
   opacity: 1.0;
 }
}

.fresh {
 -webkit-animation-name: pulse;
 -webkit-animation-duration: 1s;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-in-out;
 -webkit-animation-iteration-count: infinite;
}