#config {
  background: rgba(black, 0.95);
  bottom: 0;
  color: white;
  left: 0;
  padding: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  pre {
    background: rgba($primary-color, 0.3);

  }
  [data-action="close-config"] {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
