#groups {
  margin: 20px;
  @include border-radius(3px);
  @include box-shadow(rgba(black, .15), 0, 0, 10px);
  > li {
    border: 1px $grey-color solid;
    border-top-color: darken($grey-color, 5%);
    height: 30px;
    list-style: none;
    margin: -1px 0 0;
    overflow: hidden;
    padding: 5px;
    @include background(linear-gradient(top, lighten($grey-color, 10%), lighten($grey-color, 2%)));
    @include transition(all, .5s);
    @include box-shadow(rgba(white, .5) 0 1px 1px inset, rgba(black, .04) 0 -1px 1px inset);
    h2 {
      background: sprite($icons, status-ok, 100%, $offset-y: 7px) no-repeat;
      font-size: inherit;
      margin: 0;
      @include text-shadow(rgba(white, .5) 0 1px 0);
      &:before {
        content: "►";
        display: block;
        float: left;
        font-size: 70%;
        padding: 1px 3px 0 0;
        @include transition(all, .5s);
      }
    }
    &.red h2 {
      background: sprite($icons, status-error, 100%, $offset-y: 7px) no-repeat;
    }
    &.opened {
      h2:before {
        @include rotate(90deg);
      }
    }
    &:first-child {
      border-top-color: $grey-color;
      margin-top: 0;
      @include border-top-radius(3px);
    }
    &:last-child {
      @include border-bottom-radius(3px);
    }
  }
  ul {
    background: darken($grey-color, 50%);
    margin: 5px;
    opacity: 0;
    padding: 0 10px 10px 0;
    @include transition(all, .25s);
    @include box-shadow(rgba(black, .3) 0 2px 10px inset, rgba(white, .5) 0 1px 1px);
    @include clearfix;
    > li {
      list-style: none;
      float: left;
      height: 180px;
      margin: 10px 0 0 10px;
      padding: 10px;
      width: 128px;
      @include background(
        linear-gradient(top, darken($grey-color, 10%), lighten($grey-color, 2%))
      );
      @include box-shadow(rgba(white, .5) 0 1px 1px inset, rgba(black, .1) 0 -1px 1px inset, rgba(black, .3) 0 0 10px);
      @include border-radius(3px);
    }
    p {
      margin: 0;
      text-align: center;
      @include text-shadow(white 0 1px 1px);
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      text-align: center;
      @include text-shadow(white 0 1px 1px);
      &:before {
        background: sprite($traffic-lights, yellow-light, 50%) no-repeat;
        content: " ";
        display: block;
        height: 128px;
        margin-bottom: 10px;
        width: 128px;
        @include transition(opacity, 0.5ms);
      }
    }
    .offline h3 {
      background: sprite($traffic-lights, offline, 50%) no-repeat;
      &:before {
        opacity: 0.3;
      }
    }
    .red > h3:before {
      background-position: sprite-position($traffic-lights, red-light, 50%);
    }
    .green > h3:before {
      background-position: sprite-position($traffic-lights, green-light, 50%);
    }
  }
  .opened ul {
    opacity: 1;
  }
}