#groups {
  list-style: 0;
  margin: 0;
  h2 {
    background: $primary-color;
    color: white;
    float: left;
    font-size: 100px;
    line-height: 100px;
    margin: 0 6px 6px 0;
    padding: 27px 15px 7px 15px;
    &:after {
      content: ":";
    }
  }
  li {
    list-style: none;
    margin: 0;
  }
  > li {
    background: white;
    bottom: $margin;
    clear: both;
    left: $margin;
    padding: 6px 6px 0;
    margin: $margin / 2 $margin $margin;
    //position: absolute;
    right: $margin;
    top: $margin;
    @include pie-clearfix;
  }
  ul {
    margin: 0;
    li {
      color: white;
      float: left;
      font-size: 50px;
      font-weight: bold;
      line-height: 50px;
      margin: 0 6px 6px 0;
      padding: 12px 15px 2px;
      position: relative;
      &.red {
        background: $alert-color;
      }
      &.yellow {
        background: $warning-color;
      }
      &.green {
        background: $ok-color;
      }
      a {
        background: inherit;
        -webkit-background-clip: padding-box;
        border: 3px white solid;
        color: white;
        font-size: 25px;
        line-height: 26px;
        padding-top: 4px;
        position: absolute;
        right: -18px;
        text-align: center;
        text-decoration: none;
        top: -18px;
        width: 30px;
        z-index: 3;
        @include border-radius(18px);
        @include opacity(0);
        @include scale(0);
        @include transition(all, 0.5s);
      }
      &:hover a {
        @include scale(1);
        @include opacity(1);
      }
      .info {
        background: inherit;
        bottom: 100%;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 6px;
        padding: 6px 15px;
        position: absolute;
        right: 0;
        z-index: -1;
        @include opacity(0);
        @include transition(all, 0.5s);
      }
      &.info-activated .info {
        z-index: 2;
        @include opacity(1);
      }
    }
  }
}