#groups {
  list-style: 0;
  margin: 0;
  @include scale(1);
  @include transition(all, 0.4s, linear);
  h2 {
    //background: $primary-color;
    color: white;
    color: $primary-color;
    float: left;
    font-size: 100px;
    line-height: 100px;
    margin: 0 $small-margin $small-margin 0;
    padding: 27px 15px 7px 15px;
    padding: 12px 15px 2px;
    &:after {
      content: ":";
    }
  }
  li {
    list-style: none;
    margin: 0;
  }
  > li {
    background: white;
    @include pie-clearfix;
    @include transition(all, 0.5s);
  }
  .inner {
    margin: -20px -20px 0 0;
    max-height: 100%;
    padding: 20px 20px 0 0;
    overflow: hidden;
    &:after {
      bottom: 0;
      content: " ";
      display: block;
      height: $small-margin;
      left: 0;
      position: absolute;
      right: 0;
      @include background(
        linear-gradient(top, rgba(white, 0), white)
      );
    }
  }
  ul {
    margin: 0;
    li {
      color: white;
      float: left;
      font-size: 100px;
      font-weight: bold;
      line-height: 100px;
      margin: 0 $small-margin $small-margin 0;
      padding: 15px 25px 2px;
      position: relative;
      @include transition(all, 1s);
      @include text-shadow(white 0 0 0);
      &.red:before {
        content: "☠ ";
        position: relative;
        top: 3px;
      }
      &.offline { 
        color: rgba(white, .1);
        @include text-shadow(white 0 0 25px, white 0 0 15px);
      }
      a {
        background: inherit;
        -webkit-background-clip: padding-box;
        border: 3px white solid;
        color: white;
        font-size: 25px;
        line-height: 26px;
        padding-top: 4px;
        position: absolute;
        right: -18px;
        text-align: center;
        text-decoration: none;
        top: -18px;
        width: 30px;
        z-index: 3;
        @include border-radius(18px);
        @include opacity(0);
        @include scale(0);
        @include text-shadow(white 0 0 0);
        @include transition(all, 0.5s);
      }
      &:hover a {
        @include scale(1);
        @include opacity(1);
      }
      .info {
        background: inherit;
        bottom: 100%;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: $small-margin;
        padding: $small-margin 15px;
        position: absolute;
        right: 0;
        z-index: -1;
        @include opacity(0);
        @include text-shadow(white 0 0 0);
        @include transition(all, 0.5s);
      }
      &.info-activated .info {
        z-index: 2;
        @include opacity(1);
      }
    }
  }
}