.layout-button {
  background: no-repeat $small-margin $small-margin;
  padding: $small-margin;
  display: inline-block;
  height: 16px;
  margin-bottom: -$small-margin;
  width: 16px;
  @include hide-text;
  &.active {
    background-color: rgba($primary-color, .75);
  }
  &:hover {
    background-color: $primary-color;
  }
}

[data-action="list"] {
  @extend .layout-button;
  background-image: image-url("list.png");
}

[data-action="spaces"] {
  @extend .layout-button;
  background-image: image-url("spaces.png");
}

[data-action="config"] {
  @extend .layout-button;
  background-image: image-url("config.png");
}

[data-action="close-config"] {
  @extend .layout-button;
  background-image: image-url("close.png");
}

